@import "../stylesheets/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

$background-color: #161616;
$green-color: #27ae60;
$site-font: 'Roboto', sans-serif;
@mixin respond-to($media) {
  @if $media == 'small' {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  } @else if $media == '880px' {
    @media only screen and (max-width: 880px) {
      @content;
    }
  } @else if $media == 'phones' {
    @media only screen and (max-width: 500px) {
      @content;
    }
  }
}

html {
  background: #fff;
}

body {
  max-width: 882px;
  width: 100%;
  margin: 0 auto;
  background: url(../images/bg.jpg) #161616;
  font-family: $site-font;
  background-size: cover;
  div.main {
    min-height: 100vh;
    div.name {
      width: 100%;
      text-align: center;
      img {
        @include respond-to('phones') {
          width: 80%;
        }
        width: 50%;
        padding-top: 10vh;
      }
      h1 {
        font-weight: 200;
        color: #fff;
        font-size: 30px;
        padding: 0 10px;
      }
      h3 {
        font-weight: 300;
        color: #D6D6D6;
        margin: 20px 0;
        font-size: 20px;
        padding: 0 10px;
      }
    }
  }
  a.go {
    &::before {
      content: "";
      top: 0;
      border-top: 2px solid currentColor;
      border-left: 2px solid currentColor;
      border-right: 2px solid currentColor;
      position: absolute;
      left: 0;
      right: 0;
      height: 10px;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 10px;
      bottom: 0;
      border-bottom: 2px solid currentColor;
      border-left: 2px solid currentColor;
      border-right: 2px solid currentColor;
    }
    &:hover {
      text-decoration: none;
    }
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
    color: #27ae60;
    padding: 5px 10px;
    font-size: 20px;
    display: block;
    width: 180px;
    text-align: center;
    transition: 0.3s;
    margin: 30vh auto 20px auto;
  }
  div.social {
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid;
    width: 80%;
    margin: 0 auto;
    a {
      &:last-child {
        i {
          padding: 7px 12px;
        }
      }
      margin: 0 15px;
      i {
        font-size: 25px;
        color: #fff;
        border: 2px solid;
        padding: 7px;
        border-radius: 25px;
        transition: 0.3s;
        &:hover {
          color: #27ae60;
          transition: 0.3s;
        }
      }
    }
  }
  div.sales {
    header {
      height: 50px;
      div.menu {
        i {
          @include respond-to('phones') {
            font-size: 28px;
          }
          color: #fff;
          font-size: 36px;
          line-height: 50px;
          margin-left: 15px;
          cursor: pointer;
        }
        h1 {
          @include respond-to('phones') {
            font-size: 26px;
          }
          b {
            color: #fff;
            font-weight: 300;
          }
          display: inline-block;
          width: calc(100% - 50px);
          text-align: center;
          line-height: 50px;
          vertical-align: top;
          margin: 0;
          color: $green-color;
          padding-right: 25px;
        }
      }
      div.header_social {
        display: inline-block;
        height: 50px;
        vertical-align: top;
        line-height: 50px;
        width: 35%;
        text-align: right;
        a {
          @include respond-to('phones') {
            margin: 0 15%;
          }
          font-size: 24px;
          margin: 0 25px;
          color: #fff;
        }
      }
    }
    div.all-menu {
      height: 100vh;
      width: 280px;
      position: fixed;
      z-index: 1;
      background-color: #030303;
      display: none;
      h1 {
        font-weight: 100;
        text-align: center;
        color: #27ae60;
        font-size: 30px;
        margin: 20px 10px 0 10px;
        b {
          font-weight: 100;
          color: #fff;
        }
      }
      div.filter-item {
        text-align: center;
        label {
          display: block;
          font-weight: 100;
          color: #fff;
          text-align: center;
          font-size: 16px;
          margin: 5px 0;
        }
        select {
          border: 1px solid #ccc;
          border-radius: 3px;
          font-family: inherit;
          padding: 2px;
          width: 90%;
        }
      }
      button {
        transition: 0.3s;
        background: #2ecc71;
        display: block;
        width: 90%;
        margin: 25px auto 0 auto;
      }
      span {
        color: #e8e8e8;
        text-align: center;
        display: block;
        margin: 10px 0;
        cursor: pointer;
        font-weight: 100;
        transition: 0.3s;
      }
      form {
        position: relative;
        width: 90%;
        margin: 0 auto 10px auto;
        transition: 0.5s;
        border-bottom: 1px solid rgba(149, 165, 166, 0.5);
        padding-bottom: 10px;
        input {
          border: none;
          background-color: #DDD;
          border-radius: 3px;
        }
        input[type="search"] {
          width: 100%;
          box-sizing: border-box;
          height: 30px;
          margin-top: 10px;
          font-size: 16px;
          font-weight: 100;
          padding: 0 30px 0 5px;
          -webkit-appearance: none;
          outline-color: #27ae60;
        }
        input[type="submit"] {
          position: absolute;
          top: 0;
          right: 0;
          width: 36px;
          height: 30px;
          margin-top: 10px;
          cursor: pointer;
          background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
        }
      }
    }
    div.sales-list {
      background: #ecf0f1;
      height: calc(100vh - 50px);
      overflow: overlay;
      div.sales-list-load {
        h1 {
          text-align: center;
          font-weight: 300;
          font-size: 30px;
          margin: 10px 0;
        }
        div.sales-list-item {
          border-top: 1px solid #bdc3c7;
          padding: 10px;
          cursor: pointer;
          h3 {
            text-align: center;
            font-weight: 300;
            text-transform: uppercase;
            margin: 0;
          }
          img {
            width: 70px;
            vertical-align: top;
            border-radius: 5px;
          }
          div.sale-info {
            width: calc(50% - 5px);
            display: inline-block;
            h4 {
              margin: 5px 0 0 5px;
              font-size: 18px;
              font-weight: bold;
            }
            > span {
              margin-left: 5px;
              color: #27ae60;
            }
            small {
              display: block;
              margin-left: 5px;
              color: #7f8c8d;
            }
          }
          > span {
            @include respond-to('phones') {
              font-size: 20px;
            }
            display: inline-block;
            width: 20%;
            vertical-align: top;
            text-align: right;
            height: 70px;
            white-space: nowrap;
            font-size: 28px;
            font-weight: bold;
            float: right;
            margin-right: 5%;
            line-height: 70px;
          }
        }
      }
    }
  }
}