@import "../stylesheets/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

$background-color: #161616;
$green-color:#27ae60;
$site-font:'Roboto', sans-serif;
$footer-height:20px;
body{

  background:url(../images/bg.jpg) $background-color;
  font-family: $site-font;
  background-size: cover;
}
div.main{
  min-height: calc(100vh - 20px);
  overflow-y: hidden;
  div.name {
    min-height: calc(100vh - 180px);
    h1 {
      color: #fff;
      font-weight: 300;
      margin: 0;
      padding: 30vh 15% 0 0;
      text-align: right;

    }
    img{
      float: left;
      margin-left: 10%;
      margin-top: calc(30vh + 41px);
      width: 20%;
    }
    a {
      font-weight: 400;
      text-transform: uppercase;
      color: #27ae60;
      padding: 5px 10px;
      border: 2px solid;
      font-size: 20px;
      display: block;
      width: 180px;
      float: right;
      text-align: center;
      margin-right: 15%;
      transition: 0.3s;
      &:hover {
        color: #fff;
        border: 2px solid #27ae60;
        background: #27ae60;
        text-decoration: none;
        transition: 0.3s;
      }
      &:focus {
        outline: none;
        text-decoration: none;
      }
    }
    h3 {
      font-weight: 300;
      color: #D6D6D6;
      padding-right: 15%;
      text-align: right;
      margin: 20px 0;
      font-size: 20px;
    }
  }
  div.social{
    clear: both;
    text-align: center;
    padding-bottom: 15px;
    width: 30%;
    margin: 0 auto;
    border-bottom: 1px solid rgba(188, 188, 188, 0.55);
    a{
      margin: 0 15px;
      i{
        font-size: 25px;
        color: #fff;
        border: 2px solid;
        padding: 7px;
        border-radius: 25px;
        transition: 0.3s;
        &:hover{
          color:$green-color;
          transition: 0.3s;
        }
      }

    }
  }
  div.contacts_footer{
    text-align: center;
    margin-top: 15px;
    ul{
      list-style: none;
      color: #fff;
      font-weight: 300;
      padding: 0;
      li{

        display: inline-block;
        margin: 0 15px;
      }
    }
  }
}
div.sales{
  @extend div.main;
}
footer{
  height: $footer-height;
  color: #C5C5C5;
  text-align: center;
}